body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  margin: 0;
  padding: 40px;
}

.app-container {
  background: white;
  padding: 30px;
  border-radius: 8px;
  width: 800px;
  margin: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

input {
  flex: 1;
  padding: 15px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

select {
  flex: 1;
  padding: 15px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.btn {
  padding: 10px 20px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.btn.green {
  margin-top: 5px;
  padding-top: 12px;

  background-color: #14b539;
}
.btn.red {
  background-color: #db1f1f;
}


/* État Hover global */

.btn:hover {
  opacity: 0.5;
  border-color: rgba(219, 202, 202, 0.2);

}

.task-item {
  display: flex;
  border-radius: 1px;
  border: 1px solid transparent;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0;
  background-color: #dddddd;
  padding: 10px;
}

.task-item span {
  flex: 1;
  margin-left: 1px;
}
